// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
$fa-font-path: "../webfonts";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.min.css";
// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.content-wrapper {
    min-height: 90vh !important;
}

.router-link-exact-active {
    background-color: #38c172;
    color: #fff !important;
}

.modal {
    z-index: 1111;
}

.modal-full {
    min-width: 100%;
    margin: 0;
    /*z-index: 1200;*/
}

.modal-full .modal-content {
    min-height: 100vh;
}

@media print {
    .nav.nav-tabs li:not(.active) {
        display: none;
    }

    .invoice {
        padding: 10px 20px;
    }

    .invoice {
        background-position: center center;
        background-repeat: no-repeat;
    }

    .table-responsive table {
        background-color: transparent !important;
    }
}

@page {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c2c7d0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c2c7d0;
}

.navbar-primary {
    background-color: #007bff;
}

.navbar-secondary {
    background-color: #6c757d;
}

.navbar-info {
    background-color: #17a2b8;
}

.navbar-success {
    background-color: #38c172;
}

.navbar-danger {
    background-color: #dc3545;
}

.navbar-indigo {
    background-color: #6610f2;
}

.navbar-purple {
    background-color: #6f42c1;
}

.navbar-pink {
    background-color: #e83e8c;
}

.navbar-light {
    background-color: #f8f9fa;
}

.navbar-white {
    background-color: #fff;
}

.navbar-teal {
    background-color: #20c997;
}

.navbar-orange {
    background-color: #fd7e14;
}

.navbar-warning {
    background-color: #ffc107;
}

.navbar-gray {
    background-color: #6c757d;
}

.navbar-gray-dark {
    background-color: #343a40;
}

.navbar-dark {
    background-color: #343a40;
}

.navbar-cyan {
    background-color: #17a2b8;
}
.white:hover {
    color: #ffffff;
}
.nav .nav-treeview > .nav-item > a {
    padding-left: 40px;
}
.nav-sidebar .nav-link p {
    display: inline;
    margin: 5px;
    white-space: normal;
}
